body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #2c3e50;
}

#caixa-busca {
    width: 50%;
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-right: 5px;
}

#botao-busca {
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#botao-busca:hover {
    background-color: #2980b9;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    flex-grow: 1; /* Faz o container crescer e empurrar o footer para baixo */
}

.card {
    background-color: #fff;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    margin-top: 0;
    color: #3498db;
}

.card a {
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    padding: 8px 12px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background-color: #2c3e50;
    color: #ecf0f1;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;

}